@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
/* @font-face {
    font-family: 'fragilebombers';
    src: local('fragilebombers'), url(fonts/fragileBombers.ttf), format('ttf');
  } */
@tailwind base;
@tailwind components;


@tailwind utilities;



@layer base {
  @font-face {
    font-family: "FragileBombers";
    src: url(../fonts/FRAGILEB.TTF);
  }

  }
  /* html {
    font-size: 1.4rem
  } */
